<h1>Create a New Kitten</h1>

<%= form_for @kitten do |f| %>

  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.number_field :age, placeholder: "Age" %>
  <%= f.text_field :cuteness, placeholder: "Cuteness" %>
  <%= f.text_field :softness, placeholder: "Softness" %>
  <%= f.text_field :image_url, placeholder: "Image Url" %>
  <%= f.submit %>
  <% end %>
